<h1>Listing wizards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Alignment</th>
      <th>Spells</th>
      <th>Bag of holding</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wizards.each do |wizard| %>
      <tr>
        <td><%= wizard.name %></td>
        <td><%= wizard.alignment %></td>
        <td><%= wizard.spells %></td>
        <td><%= wizard.bag_of_holding %></td>
        <td><%= link_to 'Show', wizard %></td>
        <td><%= link_to 'Edit', edit_wizard_path(wizard) %></td>
        <td><%= link_to 'Destroy', wizard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wizard', new_wizard_path %>
