<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wizard.name %>
</p>

<p>
  <strong>Alignment:</strong>
  <%= @wizard.alignment %>
</p>

<p>
  <strong>Spells:</strong>
  <ul>
  <% @wizard.spells.each do |spell| %>
    <li><%=spell%></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Bag of holding:</strong>
  <%= @wizard.bag_of_holding %>
</p>

<%= link_to 'Edit', edit_wizard_path(@wizard) %> |
<%= link_to 'Back', wizards_path %>
