<h1>Regenerate into New Doctor</h1>

<%= form_for(@doctor) do |f| %>

 <pre><%= <<-POCKET
     collection_select :left_pocket_contents, ["Sonic screwdriver", "Fez lint", "Bad wolf"], :to_s, :to_s"
   POCKET
  %></pre>
  <div class="field">
    <%= f.label :left_pocket_contents %>
    <%= f.collection_select :left_pocket_contents,
      ["Sonic screwdriver", "Fez lint", "Bad wolf"], :to_s, :to_s  %>
  </div>

  <br><br>
  <pre><%= <<-POCKET
     collection_check_boxes :left_pocket_contents, ["Sonic screwdriver", "Fez lint", "Bad wolf"], :to_s, :to_s"
   POCKET
  %></pre>
  <div class="field">
    <%= f.label :right_pocket_contents %>
    <%= f.collection_check_boxes :right_pocket_contents,
      ["Sonic screwdriver", "Fez lint", "Bad wolf"], :to_s, :to_s  %>
  </div>

  <br><br>
  <pre><%="number_field :number" %></pre>
  <div class="field">
    <%= f.label :doctor_number %><br>
    <%= f.number_field :doctor_number %>
  </div>

  <br><br>
  <pre><%="date_field :week" %></pre>
  <div class="field">
    <%= f.date_field :date %>
  </div>

  <br><br>
  <pre><%="week_field :week" %></pre>
  <div class="field">
    <%= f.week_field :week %>
  </div>

  <br><br>
  <pre><%="month_field :week" %></pre>
  <div class="field">
    <%= f.month_field :month %>
  </div>

  <br><br>
  <pre><%="color_field :colour" %></pre>
  <div class="field">
    <%= f.color_field :colour %>
  </div>

  <br><br>
  <pre> <%= <<-BADWOLF
       highlight "Also we can choose to highlight all instances of 'Bad wolf'.
       I repeat, all instances of 'Bad wolf'", "Bad wolf"
     BADWOLF
     %></pre>
  <%= highlight "Also we can choose to highlight all instances of 'Bad wolf'. " +
    "I repeat, all instances of 'Bad wolf'", "Bad wolf" %>

  <div class="actions">
    <%= button_to "Regenerate" %>
  </div>
<% end %>

<%= link_to 'Back', doctors_path %>
