<h1>Listing companions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Skills</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companions.each do |companion| %>
      <tr>
        <td><%= companion.name %></td>
        <td><%= companion.skills %></td>
        <td><%= link_to 'Show', companion %></td>
        <td><%= link_to 'Edit', edit_companion_path(companion) %></td>
        <td><%= link_to 'Destroy', companion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Companion', new_companion_path %>
